.devise {
	height: 100%;
  display: grid;
	justify-content: center;
	align-content: start;
	background-color: var(--color-bg-white);
	letter-spacing: 0.1rem;
	padding-top: var(--space-xxl);
	color: var(--color-three);
  


	&__field {
		display: flex;
		flex-direction: column;
		padding-bottom: var(--space-m);
	}

	&__label {
		align-self: flex-end;
		justify-content: flex-end;
	}

	&__text-input {
		padding: var(--space-xs);
		border: 0;
		border-bottom: 2px solid gray;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
			border-radius: var(--border-radius);
			outline: var(--border);
    }
	}		

	&__title {
		text-align: center;
		padding-bottom: var(--space-xl);
		max-width: 15rem;
		line-height: 3rem;
	}

	&__checkbox {
		appearance: auto;
		margin-left: 0.5rem;
	}

	&__checkbox-label {
		font-size: var(--font-size-xs);
	}

	&__remember-couple {
		padding-top: var(--space-m);
	}

	&__pw-constraint {
		font-size: var(--font-size-s);
		letter-spacing: 0;
	}

	&__actions {
		text-align: center;
		padding-top: var(--space-l);
		padding-bottom: var(--space-l);
	}
}