.devise {
	letter-spacing: 0.1rem;
	height: 100%;
	// width: 500px;
  display: grid;
	place-content: center;
	background-color: var(--color-bg-white);
}

.devise h2 {
	// font-size: 6rem;
	// margin-bottom: 5rem;
	text-align: center;
}

.devise h2.forgot_pw {
	// font-size: 3rem
}

.devise .field {
	/* outline: 1px solid gray; */
	margin-bottom: 2rem 0;
	/* border: 0; */
}

.devise label {
	/* display: block; */
}

.devise input {
	/* outline: 2px solid green; */
	margin: 0.6rem 0;
	border: 0;
	border-bottom: 2px solid gray;

	&:hover,
  &:focus,
  &:focus-within,
  &:active {
    // transition: filter 250ms, color 200ms;
		// border: none;
  }
}

.devise input[type="email"],
.devise input[type="password"] {
	/* padding-left: 3rem; */
	/* margin-left: 3rem; */
	padding: 0.5rem;
}

.devise input[type="checkbox"] {
	appearance: auto;
	margin-left: 0.5rem;
}

.devise label[for="user_remember_me"] {
	/* margin-bottom: 6rem; */
	font-size: 1.5rem;
}

.devise .field em {
	/* "x characters minimum" */
	font-size: 1rem;
}

.devise .actions {
	/* button */
	text-align: center;
	margin: 3rem 0;
}
         
.devise a {
	text-decoration: none;
}