.events {
  height: 100%;
	
	display: grid;
	// justify-content: center;
	grid-template-areas: 
	"announcement"
	"navbar"
	"content"
	"footer";
	grid-template-rows:	25px 100px 1fr;
	
}

.content {
	grid-area: content;
	
}

.footer {
	grid-area: footer;
}
