	
<main class="content container">

	<%= render "event-add-bar" %>

	<%#= turbo_frame_tag Event.new do %>
		<%= render(partial: 'event', collection: @events, spacer_template: "spacer") || render(partial: 'empty_list') %>
	<%# end %>
</main>