	
<main class="content container">

	<%= render "event-add-bar" %>

	<p></p>
	<%= current_uri = request.env['PATH_INFO'] %><br>
	<%= current_user.id if current_user %><br>
	announcement<br>
	navbar<br>
	main container<br>
	footer<br>
	
	<%# render @events %>

</main>