	
<main class="content container">

	<%= render "event-add-bar" %>

	<% if @events.any? %>
		<%= render partial: "event", collection: @events, spacer_template: "spacer" %>
	<% else %>
		<%= render 'empty_list' %>
	<% end %>

</main>