<div class="events">

	<div class="announcement">
		<span class="announcement__body">"New features added this week!"</span>
	</div>

	<%= render "navbar" %>
	
	<%= render "content" %>
		
	<%= render "footer" %>

</div>