<div class="full">
	<div class="announcement">
		<span>"New features added this week!"</span>
	</div>

	<header class="navbar">
		<h1 class="navbar-title">Private events</h1>
	</header>
	
	<main class="container main">
		<%= link_to  "Sign in", new_user_session_path %>
		<br>
		<%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>

	</main>
	
	<footer class="footer">
		kslau07@github.com
	</footer>
</div>