<main class="container">
  <%= link_to sanitize("&larr; Back to events"),  events_path %>
  <div class="header">
    <h2>New Event</h2>
  </div>
  <%= turbo_frame_tag Event.new do %>
    <%= render "form", event: @event %>
    <%= render "events/spacer" %>								<!-- Probably not ideal, use other way next project -->
  <% end %>
</main>
