.announcement {
	display: flex;
	justify-content: center;
	min-width: max-content;

	&--normal {
		color: var(--color-text-off-white);
		background-color: var(--color-two);
	}

	&--flash {
		color: var(--color-text-off-white);
		background-color: var(--color-five);
	}
}