.brand {
	display: flex;
	align-items: center;
	min-width: max-content;

	
	&__logo {
		padding-right: var(--space-xxs);

	}
	&__text {
		font-family: var(--font-family-brand);
		font-size: var(--font-size-xxxxl);
		letter-spacing: var(--brand-letter-spacing);
		padding-right: var(--space-xxl);
	}
}