.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    // transition: filter 250ms, color 200ms;
  }

  &--primary {
    color: var(--color-text-white);
    background-image: linear-gradient(to right, var(--color-two), var(--color-two-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-text-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--secondary {
    color: var(--color-text-white);
    background-image: linear-gradient(to right, var(--color-four), var(--color-four-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-text-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--tertiary {
    color: var(--color-text-white);
    background-image: linear-gradient(to right, var(--color-five), var(--color-five-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-text-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--med {
    font-size: var(--font-size-m);
    color: var(--color-text-off-white);
    padding-top: var(--space-xxxs);
    padding-bottom: var(--space-xxxs);
  }

  &--short {
    font-size: var(--font-size-m);
    color: var(--color-text-off-white);
    padding-top: var(--space-xxxxs);
    padding-bottom: var(--space-xxxxs);
  }

  &--crud {
    font-size: var(--font-size-m);
    color: var(--color-text-off-white);
    padding-top: var(--space-xxxxs);
    padding-bottom: var(--space-xxxxs);
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }

  &--wide {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }
}