.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition:
    filter 400ms,
    color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
  }

  &--primary {
    color: var(--color-text-white);
    background-image: linear-gradient(
      to right,
      var(--color-two),
      var(--color-two-rotate)
      );

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-text-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--secondary {
    color: var(--color-text-white);
    background-image: linear-gradient(
      to right,
      var(--color-four),
      var(--color-four-rotate)
      );

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-text-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--tertiary {
    color: var(--color-text-white);
    background-image: linear-gradient(
      to right,
      var(--color-five),
      var(--color-five-rotate)
      );

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-text-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--med {
    font-size: var(--font-size-m);
    color: var(--color-text-off-white);
    padding-top: var(--space-xxxs);
    padding-bottom: var(--space-xxxs);
  }

  &--short {
    font-size: var(--font-size-m);
    color: var(--color-text-off-white);
    padding-top: var(--space-xxxxs);
    padding-bottom: var(--space-xxxxs);
  }

  &--crud {
    font-size: var(--font-size-m);
    color: var(--color-text-off-white);
    padding-block: var(--space-xxxs);
    padding-inline: var(--space-s);
  }

  &--invite {
    // flex-basis: 100%;
    font-size: var(--font-size-m);
    color: var(--color-text-off-white);
    padding-block: var(--space-xxxs);
    padding-inline: var(--space-s);
    text-align: center;
  }

  &--wide {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #83a4d4 0%,
    #b6fbff 51%,
    #83a4d4 100%
    );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
