.event-compact {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-bg-white);
	border-radius: var(--border-radius);
	font-size: var(--font-size-l);	
	flex-direction: row;
	align-items: center;
	gap: var(--space-xl);
	padding: var(--space-xs) var(--space-l);
	box-shadow: var(--shadow-small);

	&__date {
		display: inline-block;
		font-size: var(--font-size-xs);
		width: 6rem;
	}

	&__description {
		display: inline-block;											// Do not remove
		flex: 1 1 0;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis; 
		vertical-align: bottom;
		text-align: center;
	}

	&__creator {
		font-size: var(--font-size-xs);
	}

	&__actions {
		display: flex;
		gap: var(--space-xs);
	}
}