.event-compact {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  flex-direction: row;
  font-size: var(--font-size-l);
  gap: var(--space-xl);
  justify-content: space-between;
  padding-block: var(--space-xl);
  padding-inline: var(--space-xl);

  &__date {
    display: inline-block;
    font-size: var(--font-size-s);
    width: var(--space-l);
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    gap: var(--space-m);
    padding: var(--space-xs);
  }

  &__event-label {
    align-self: center;
  }

  &__label {
    color: var(--color-two);
    font-size: var(--font-size-xs);
  }

  &__info-row-one {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
  }

  &__title {
    flex: 1;
    text-align: center;
    font-size: var(--font-size-xxl);
    font-weight: bold;
    padding-left: var(--space-m);
    display: block;
  }

  &__info-row-two {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &__description,
  &__location {
    color: var(--color-three);
    font-size: var(--font-size-s);
    padding-left: var(--space-m);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__creator {
    font-size: var(--font-size-xs);
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xs);
    flex-wrap: wrap;
  }
}
