.event {
	display: flex;
	// justify-content: space-between;
	flex-direction: row;
	align-items: center;
	gap: var(--space-xl);

	background-color: var(--color-bg-white);
	border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
	padding: var(--space-xs);

	&__actions {
		// outline: 5px solid green;
		display: flex;
		flex: 0 0 auto; 				// grow 0, shrink 0, flex-basis auto
		align-self: flex-start;
		gap: var(--space-xs);
	}
}