.invite {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-bg-white);
	border-radius: var(--border-radius);
	min-width: max-content;	
	font-size: var(--font-size-l);	
	box-shadow: var(--shadow-large);
	padding: var(--space-m);

	&__title {
		color: var(--color-two);
		padding-bottom: var(--space-m);
	}

	&__list {
		padding: var(--space-m);
	}

	&__card {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: var(--space-xl);
		padding-bottom: var(--space-xl);
	}

	&__text--invited {
		color: var(--color-two);
		font-size: var(--font-size-s);

	}
}