.link {
	display: inline-block;
	padding: var(--space-xxs) var(--space-m);
	min-width: max-content;

	&--active {
		// background-color: var(--color-five);
		border-bottom: 4px solid var(--color-five);
	}
}