.navbar {
	grid-area: navbar;
	// justify-content: center;
	display: flex;
	// gap: var(--space-xxs);
	align-items: center;
	// background-color: var(--color-one);
	padding-left: var(--nav-bar-space-clamp);
	padding-right: var(--nav-bar-space-clamp);
	padding-top: var(--space-xxxs);
}
