.navbar {
	grid-area: navbar;
	display: flex;
	// gap: var(--space-xxs);
	align-items: center;
	// background-color: var(--color-one);
	// padding: 1rem 2rem;
	padding-left: var(--space-xl);
	padding-right: var(--space-xl);
	padding-top: var(--space-xxxs);
}
