<% if flash.empty? %>
  <div class="announcement announcement--normal">New features added this week! (login: joe@company.com | password: password)</div>
<% else %>
  <% flash.each do |type, msg| %>
    <div class="announcement announcement--flash"><%= msg %></div>
  <% end %>
<% end %>
