<% if flash.empty? %>
  <div class="announcement announcement--normal">New features added this week! ( user@example.com | password: password123)</div>
<% else %>
  <% flash.each do |type, msg| %>
    <div class="announcement announcement--flash"><%= msg %></div>
  <% end %>
<% end %>
