<div class="empty-list">
  <%= link_to image_tag("plus.svg", size: '40', alt: 'An image of a plus sign.'), new_event_path %>
	<span class="empty-list__text">
	There are no events currently. Be the first to add one!
	</span>
</div>